.sidebar{
    background: #333;
   
 }

 .dropdownButton{
     width: 80%;
    background:#D3D3D3;
    margin:auto;
    border-radius:5px;
    cursor:pointer;

 }

 @media(min-width:750px){
    .sidebar{
        min-height: 100vh;
    }

    .dropdownButton{
        width: 30%;
    }
 }

 @media(min-width:950px){
     .dropdownButton{
         width: 20%;
     }
 }